*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.navbarr input[type="checkbox"],
.navbarr .hamburger-lines {
    display: none;
}

.containerr {
    /* max-width: 1200px; */
    width: 90%;
    margin: auto;
}

.navbarr {
    box-shadow: 0px 1px 5px 5px rgb(169, 159, 183);
    /* position: fixed; */
    width: 100%;
    background: rgb(181, 127, 127);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-itemss {
    order: 2;
    display: flex;
}


.menu-itemss li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbarr a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbarr a:hover {
    color: #000000;
}

/* 0 to 500px */
@media (max-width: 450px) {


    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbarr .menu-itemss {
        padding-top: 100px;
        background-color: rgb(181, 127, 127);
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px rgb(141, 123, 173);
        overflow: scroll;
        opacity: 1;
    }

    .navbarr .menu-itemss li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }


    .navbar-container input[type="checkbox"]:checked~.menu-itemss {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .navbar-brand {
        display: none;
    }

    .navbar-container input[type="checkbox"]:checked~.navbar-brand {
        display: none;
    }

}
    


/* media greater than 500px */
@media (min-width:450px) {


    .navbar-brand a img {
        display: inline-block;
        vertical-align : top;
    }
}